<div  *ngIf="game">
  <div>
      <span>Name:</span>
      <input type="text" [(ngModel)]="game.name">
  </div>
  <div>
      <span>Genre:</span>
      <input type="number" [(ngModel)]="game.genreGame">
  </div>
  <div>
      <span>Developer(s):</span>
      <input type="text" [(ngModel)]="game.softwareHouse">
  </div>
  <div>
    <span>Publication Date:</span>
    <input type="number" [(ngModel)]="game.publicationDate">
</div>
  <button [disabled]="!game.name" (click)="saveGame()">Save</button>
</div>
