.game-card{
    display: flex;
    flex-direction: column;
    border: solid 2px;
    border-radius: 10px;
    padding: 8px;
    margin: 36px;
    background: rgb(2,0,36);
    background: linear-gradient(115deg, rgba(0,212,255,1)  0%, rgba(9,9,121,1) 60%, rgba(2,0,36,1) 100%);
}
